[Unit]
Description=Lab DNS Server Built in Python
After=network-online.target redis-server.service
Wants=network-online.target redis-server.service

[Service]
Type=simple
WorkingDirectory=/srv/lab/current/router
ExecStart=/srv/lab/current/router/venv/bin/python dns.py

User=labbot
Group=lab-managers

AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true

Restart=always
RestartSec=2

PrivateTmp=true

[Install]
WantedBy=multi-user.target